.movie-container {
  display: flex;
  padding: 5px;
}

.movie-image {
  padding-right: 5px;
}

.movie-image > img {
  max-width: 180px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.movie-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.movie-title {
  padding-bottom: 5px;
}

.movie-title > p {
  font-size: larger;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
}

.movie-synopsis {
  padding: 5px;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 400px) {
  .movie-container {
    display: flex;
    flex-direction: column;    
  }

  .movie-synopsis {
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 0px;
  }

  .movie-image > img {
  min-width: 100%;
  border-radius: 5px;
}
}