.card-movie {
  min-width: 200px;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  display: flex;
  justify-content: center;
}

.card-image > img {
  max-width: 180px;
  border-radius: 5px;
}

.card-text {
  max-width: 180px;
  word-wrap: break-word;
  padding-top: 5px;
}

.card-text > p {
  font-weight: 600;
  text-align: center;
}

.card-action {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}